# Terraform files
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate.backup
plan.out
30_pk_tf

# Python files
Pipfile
__pycache__
.mypy_cache

# Build artifacts
agent
id_rsa

.vscode
.DS_Store